[Desktop Entry]
Version=1.0

Name=UltraStar Karaoke
Comment=Karaoke program that evaluates your performance

Exec=/home/karaoke/usdx-build/ultrastardx
TryExec=/home/karaoke/usdx-build/ultrastardx
Path=/home/karaoke/usdx-build
Icon=ultrastar-karaoke

StartupNotify=false
Terminal=false

Type=Application
Categories=Game;ArcadeGame;
Keywords=game;karaoke;singing;song;microphone;sound;
